<section>
  <header class="py-5">
    <div class="container">
      <h1 class="h2">{{ section.settings.title }}</h1>
    </div>
  </header>

  <div class="container">
    <div class="row row-cols-2 row-cols-md-4 g-4">
      {%- for product in collections[section.settings.collection].products -%}
        {% render "product-card", product: product %}
      {%- endfor -%}
    </div>
  </div>
</section>



{% schema %}
{
  "name": {
    "en": "Featured collection"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Featured collection"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "en": "Collection"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured collection"
      },
      "category": {
        "en": "Collection"
      }
    }
  ]
}
{% endschema %}
