<footer class="fixed-bottom">
  <section class="text-center text-muted small">
    <ul class="list-inline">
      <li class="list-inline-item">&copy;2020 Lucid LLC. All rights reserved.</li>
      <li class="list-inline-item">Legal</li>
      <li class="list-inline-item">Privacy</li>
    </ul>
  </section>
</footer>
